<!DOCTYPE html>
<html >
    <head>
  <% include ./head.ejs%>
 
</head>
<body>
  <% include ./header.ejs%>
  

  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  
  
  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>ADD EMPLOYEE DETAILS</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Enter the employee details</p>
    <form action="/users/register" method="POST">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="name" required placeholder="NAME">
      </div>
      <div class="w3-section">
        <label>User name</label>
        <input class="w3-input w3-border" type="text" name="username" required placeholder="username">
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="email" name="email" required placeholder="Email">
      </div>
      <div class="w3-section">
        <label>Phone</label>
        <input class="w3-input w3-border" type="tel" name="phone" required placeholder="Phone">
      </div><div class="w3-section">
        <label>Role ID</label>
        <select name="roleid" id=""  class="w3-input w3-border">
            <option value="admin">admin</option>
            <option value="tpgs">Tpg-school</option>
            <option value="tpgi">Tpg-inter</option>
            <option value="duvvas">Duvva-school</option>
            <option value="duvvai">Duvva-inter</option>
        </select>
      </div>
      <div class="w3-section">
        <label>Password</label>
        <input class="w3-input w3-border" type="password" name="password" required placeholder="*********">
      </div>
      <div class="w3-section">
        <label>Confirm Password</label>
        <input class="w3-input w3-border" type="password" name="password2" required placeholder="*********">
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Add Employee</button>
    </form>  
  </div>

<!-- End page content -->
</div>
    


<% include ./footer.ejs%>
  
  </body>
</html>