<!DOCTYPE html>
<html >
    <head>
  <% include ./head.ejs%>
 
</head>
<body>
  <% include ./header.ejs%>
  

  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  
  
  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>ADD STUDENT DETAILS</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Choose a csv file to upload</p>
    <form action="/students/studentdetails" method="POST">
      <div class="w3-section">
        <label>Choose a file</label>
        <input class="w3-input w3-border" type="file" name="studentfile" required>
      </div>
      
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>  
  </div>

<!-- End page content -->
</div>
    


<% include ./footer.ejs%>
  
  </body>
</html>